BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

IOBUF PORT "clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clock" SITE "A7" ;
IOBUF PORT "n_reset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "n_reset" SITE "K1" ;
IOBUF PORT "dout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dout[0]" SITE "C1" ;
IOBUF PORT "dout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dout[1]" SITE "C3" ;
IOBUF PORT "dout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dout[2]" SITE "C2" ;
IOBUF PORT "dout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "dout[3]" SITE "D1" ;
IOBUF PORT "sw1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "sw1" SITE "B2" ;
IOBUF PORT "sw2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "sw2" SITE "B1" ;
IOBUF PORT "pwm_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "pwm_out" SITE "N8" ;
IOBUF PORT "din[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "din[3]" SITE "M7" ;
IOBUF PORT "din[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "din[2]" SITE "A13" ;
IOBUF PORT "din[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "din[1]" SITE "B13" ;
IOBUF PORT "din[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "din[0]" SITE "K3" ;




